body{
    background-color: #1e272e;
}
#logo{
    border-radius: 50%;
}
.menu-row{
    background-color: #273c75;
    padding: 2%;
}
.menu-row div ul li{
    float: right;
    list-style-type: none;
    display: inline;
    margin-top:5%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.menu-row div ul li a{
    text-decoration: none;
    color: #FF7F00;
}
.menu-row div ul li a:hover{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}
.welcome_message{
    font-family: Sofia, sans-serif;
    color: white;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
@keyframes welcome-row-animation{
    25% { transform: translate(50%); background-color: rgb(88, 88, 17);}
    50% { transform: translate(-50%); background-color: #130f40;}
    75% { transform: translate(50%); background-color: rgb(12, 43, 12);}
    100% { transform: translate(0%); background-color: #1e272e;}
}
.welcome-row{
    animation-duration: 4s;
    animation-name: welcome-row-animation;
}